
<!DOCTYPE html>
<html lang="fr">

<body>

    
<div class="socials_links">

    <a href="https://github.com/ton-pseudo">

      <lord-icon
        src="https://cdn.lordicon.com/ioihllwu.json"
        trigger="hover"
        colors="primary:#ebe6ef,secondary:#a7bcbd"
        style="width:3.125rem;height:3.125rem">
      </lord-icon>

    </a>


    <a href="https://linkedin.com/in/ton-profil">

      <lord-icon
        src="https://cdn.lordicon.com/nwqudhei.json"
        trigger="hover"
        colors="primary:#ebe6ef,secondary:#a7bcbd"
        style="width:3.125rem;height:3.125rem">
      </lord-icon>

    </a>


    <a href="mailto:ton@email.com">

      <lord-icon
      src="https://cdn.lordicon.com/ipyszerf.json"
      trigger="hover"
      colors="primary:#a7bcbd
      ,secondary:#a7bcbd,tertiary:#ebe6ef"
      style="width:3.125rem;height:3.125rem">
    </lord-icon>

    </a>

  </div>

  <p>&copy; 2026 Mon Portfolio</p>

</body>

  </html>