<!DOCTYPE html>
<html lang="fr">

<head>
  <meta chars
  et="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - Mon Portfolio</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>

    <div class="nav_logo">
        
        <a href="/">
            <img src="/assets/images/logoPrincess.png" alt="Logo de Mon Portfolio">
        </a>

    </div>

    <nav>

        <ul class="nav_list">
            <li><a href="/">Accueil</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/projects/">Projets</a></li>
            <li><a href="/contact/">Contact</a></li>
        </ul>

    </nav>

</body>

</html>
