@import url(variables.css);
@import url(style.css);

* {
    margin: 0;
}

body {
    width: 100%;
    background: var(--cream);
    font-family: var(--secondary-font);
}

nav{
    width: 100%;
    height: 7.063rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}


.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    background: white;
}

.logo img {
    height: 4.688rem;
    width: 9.5rem;
}

.list {
    width: 100%;
    height: 3.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--melon-pink);
}

.nav_list {
    width: 14.5rem;
    display: flex;
    font-size: 0.75rem;
    gap: 1.125rem;
}

li a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
}

li a:hover {
    text-decoration: underline;
}

footer {
    height: 10rem;
    background: var(--melon-pink);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.875rem;
}

.socials_links a{
    text-decoration: none;
}