<!DOCTYPE html>
<html lang="fr">

<head>

  <meta chars
  et="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - Mon Portfolio</title>
  <link rel="stylesheet" href="/assets/css/default.css">
  <link rel="stylesheet" href="/assets/css/about.css">
  <link rel="stylesheet" href="/assets/css/projects.css">
  <link rel="stylesheet" href="/assets/css/contact.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">
  

</head>

<body>

  <header>

    {% include nav.html %}

  </header>
  
  <main>

    {{ content }}

  </main>
  
  <footer>

    {% include footer.html %}


  </footer>

  <script src="https://cdn.lordicon.com/lordicon.js"></script>


</body>

</html>